body {
    background: linear-gradient(#FFFACD, rgba(185, 187, 64, 0.7));
    background-attachment: fixed;
    background-size: cover;
}

.container {
    margin-top: 50px;
    text-align: center;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #264c59;
    animation: wave 2s infinite;
}

@keyframes border-pulse {
    0% {
        border-color: #eae8a9;
    }

    50% {
        border-color: #264c59;
    }

    100% {
        border-color: #eae8a9;
    }
}

p {
    font-size: 17px;
    text-align: left;
    color: #264c59;
}

img {
    width: 364px;
    height: 314px;
    margin-bottom: 30px;
    border: 7px solid #555;
    border-radius: 5px;
    padding: 3px;
    position: relative;
    animation-name: border-pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.navbar-dark .navbar-nav .nav-link {
    color: #264c59;
}

.navbar-dark .navbar-nav .nav-link.active {
    background-color: #c7b729;
    padding: 8px;
    border-radius: 10px;
}

.navbar-dark {
    background-color: #FFFACD;
}

.navbar {
    background: linear-gradient(to bottom right, #FFFACD, #F5DEB3);
}

.navbar-toggler-icon {
    background-color: #d3ca78;
}